* {
    box-sizing: border-box;
    background:#07161b;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 3px solid #572905;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: rgb(218, 207, 191);
    background-color: black ;
  }
  
  input[type=submit] {
    background-color: #291a0e;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #293d08;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    /* float: left; */
    width: 80%;
    margin-top: 6px;
    padding: 10px;
    color:wheat;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  /* button */
  .button_1{
    border: none;
  
    background: #1a1717;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    position: fixed;
  
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    }
    .button_1{
  
        bottom: 60px;
        right: 10px; 
    }  
  
    .button_1:hover {
        color: #404040 !important;
        font-weight: 700 !important;
        letter-spacing: 3px;
        background: none;
        transition: all 0.3s ease 0s;
        }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  h2,p{
    color: rgb(214, 214, 231);
  }
  
  /* .dropdown{
    color: blanchedalmond;
  } */

  .container{
    min-height:100vh;
    margin:0 auto;
  }
  .row{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align:center;
    padding:100px 10%;
  }
  h3{
    display:block;
    width:100%;
    margin:10px 10px 20px;
  }
  h3.txt-white{
    color:#fff;
  }
  .btn{
    flex: 1 auto;
    margin:5px;
    padding:10px 25px;
    text-align:center;
    background:#eee;
    transition: all 0.5s ease-out;
    cursor:crosshair;
  }
  
  
  /* ---- luxury btns ------------ */
  .luxury{ /* block background */
    background-color:#161616;
  }
  .luxury .btn{ /* general */
    background:transparent;
    background-position: 1% 50%;
    background-size: 300% 300%;
    color:#fff;
  }
  
  .luxury .btn-1{ /* inspired by https://codepen.io/dbox/pen/bdzeEw */
    color: rgba(255,255,255,0.8);
    border: 1px solid rgba(255,255,255,0.3);
    background-image: linear-gradient(270deg, rgba(255,255,255,.9), rgba(255,255,255,.9), rgba(255,255,255,0), rgba(255,255,255,0));
  }
  .luxury .btn-1:hover{
    border-color:transparent;
    color:#161616;
    background-position: 99% 50%;
  }
  
  .luxury .btn-2{
    border:1px solid rgba(255,255,255,0);
    background-image: linear-gradient(45deg, transparent 0%, transparent 75%, rgba(255,255,255,0.8) 75%, transparent 100%);
  }
  .luxury .btn-2:hover{
    border:1px solid rgba(255,255,255,0.5);
    background-position:150% top;
  }
  
  .luxury .btn-3{
    background-image: linear-gradient(45deg, transparent 0%, rgba(255,255,255,0.5) 51%, transparent 100%);  
  }
  .luxury .btn-3:hover{
    background-position:right top;
  }
  
  .luxury .btn-4{
    border:1px solid rgba(255,255,255,.5);
    box-shadow:0 0 20px 0 rgba(255,255,255,.5) inset;
  }
  .luxury .btn-4:hover{
    box-shadow:0 0 50px 2px rgba(255,255,255,.5) inset;
  }
  
  /* ---- border btns ---- */
  .border{ /* block background */
    background-color:#0d47a1;
  }
  .border .btn{ /* general */
    background:transparent;
    color:#fff;
  }
  
  .border .btn-1{
    padding:5px 25px;
    border:1px solid rgba(255,255,255,.3);
    outline:1px solid rgba(255,255,255,.8);
    outline-offset:3px;
  }
  .border .btn-1:hover{
    border:1px solid #fff;
    outline:1px solid rgba(255,255,255,.3);
  }
  
  .border .btn-2{
    border-top:1px solid transparent;
    border-bottom:1px solid transparent;
    border-image: linear-gradient(to right, rgba(255,255,255,0) 10%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 90%);
    border-image-slice: 1;
  }
  .border .btn-2:hover{
    border-image-slice:30;
  }
  
  .border .btn-3{
    padding:5px 25px;
    outline:1px solid rgba(255,255,255,.3);
    outline-offset:5px;
  }
  .border .btn-3:hover{
    outline:1px solid rgba(255,255,255,1);
    outline-offset:2px;
  }
  
  .border .btn-4{
    outline:1px solid rgba(255,255,255,.8);
    outline-offset:0;
  }
  .border .btn-4:hover{
    outline:1px solid rgba(255,255,255,0);
    outline-offset:5px;
  }
  
  
  .border_plus .btn-4:before,
  .border_plus .btn-4:after,
  .border_plus .btn-4 span:before,
  .border_plus .btn-4 span:after{
    content:'';
    display:block;
    width: 0;
    height: 0;
    background:#000000;
    position: absolute;
    margin:auto;
    transition:.4s .4s;
  }
  .border_plus .btn-4:before,
  .border_plus .btn-4 span:before{
    height: 1px;
  }
  .border_plus .btn-4:after,
  .border_plus .btn-4 span:after{
    width: 1px;
  }
  .border_plus .btn-4 span:before{
    top: 0;
    left: 0;
  }
  .border_plus .btn-4:before{
    bottom: 0;
    right: 0;
  }
  .border_plus .btn-4 span:after{
    bottom: 0;
    left: 0;
  }
  .border_plus .btn-4:after{
    top: 0;
    right: 0;
  }
  .border_plus .btn-4:hover{
    background:#000;
    color:#fff;
    transition:.4s .4s;
  }
  .border_plus .btn-4:hover span:before,
  .border_plus .btn-4:hover:before{
    width: 100%;
    transition:.4s 0s;
  }
  .border_plus .btn-4:hover:after,
  .border_plus .btn-4:hover span:after{
    height: 100%;
    transition:.4s 0s;
  }
  
  .head
  {

    color:orange;
    margin: 3%;
    padding: 2%;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
  }